dl.op dt {clear: left; float:left; width: 140px; margin: 5px 13px 5px 0; text-align: right;}
dl.op dd {float:left; margin: 5px 0;}
/*dl.op dt.full {width: 550px;}*/

input.title, input.hint {
    width: 400px;
    margin-right: 1em;
}

textarea.des {
    height: 60px;
    width: 400px;
}

textarea.content {
    padding: 5px;
}
