.loading .indicator {display:inline-block;margin-left:5px;width:16px;height:16px;background:url(/img/modules/indicator/indicator.gif) 0 0 no-repeat;}
.success .indicator {display:inline-block;margin-left:5px;width:16px;height:16px;background:url(/img/modules/indicator/success.png) 0 0 no-repeat}
.error .indicator {display:inline-block;margin-left:5px;width:16px;height:16px;background:url(/img/modules/indicator/error.png) 0 0 no-repeat;}
